* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat";
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}
#cursor {
  height: 18px;
  width: 18px;
  background-color: rgb(252, 252, 252);
  border-radius: 50%;
  position: fixed;
  z-index: 99;
}

#cursor-blur {
  height: 220px;
  width: 220px;
  background-color: rgba(194, 190, 190, 0.562);
  border-radius: 50%;
  position: fixed;
  filter: blur(50px);
  z-index: 9;
  transition: all linear 0.4s;
}

#nav {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 40px;
  gap: 40px;
  position: fixed;
  z-index: 99;
}
#nav img {
  height: 55px;
  border-radius: 50%;
}
#nav li {
  list-style: none;
}
#nav li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}
video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  position: fixed; /* agadi ni  leuxa  by btw so,nav xopenxa . hence, we have to give z-index to nav. */
}

#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.173);
}
#page1 {
  /* height: 100%;  Yo 100% lagdaina ni coz % vanesi afno parent ko ansar size hunxa , page1 ko 
    parent main xa and at the time of writting this code main doesnt have any fkin height or width its blank.
    so height will be 100% of 0 i.e. 0 itself. */
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10;
  cursor: default;
}
#page1 h1 {
  font-size: 90px;
  font-weight: 950;
  position: relative;
}

#page1 h1::before {
  content: "TRAIN. HUSTLE. ACHIEVE.";
  position: absolute;
  color: black;
  top: -3px;
  left: -3px;
  -webkit-text-stroke: 2px #000000;
  z-index: -1;
}

#page1 h2 {
  font-size: 32px;
  font-weight: 850;
  margin: 10px;
  margin-bottom: 12px;
}
#page1 p {
  font-size: 20px;
  font-weight: 400px;
  width: 40%;
}
#page2 {
  min-height: 100vh;
  width: 100%;
  z-index: 2;
}
#scroller {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
  margin-bottom: 30px;
}
#scroller h4 {
  display: inline-block;
  font-size: 75px;
  font-weight: 900;
  font-family: gilroy;
  margin-right: 25px;
  color: #000000;
  transition: all linear 0.4s;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  cursor: pointer;
}
#scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 28s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#scroller::-webkit-scrollbar {
  display: none;
}
#scroller h4:hover {
  color: rgb(203, 212, 212);
  -webkit-text-stroke: 2px rgb(203, 212, 212) ;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


#about-us {
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  /* padding: 0 50px; */
  margin-top: 50px;
  z-index: 10;
}
#about-us img {
  height: 240px;
  width: 235px;
  border-radius: 23px;
  object-fit: cover;
}
#about {
  width: 50%;
  text-align: center;
}
#about h3 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 24px;
}
#about p {
  font-size: 20px;
  line-height: 24px;
}
#cards-container {
  margin-top: 80px;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 69px;
  position: relative;
  z-index: 10;
}
.card {
  height: 80%;
  width: 27%;
  overflow: hidden;
  border-radius: 18px;
  background-size: cover;
  background-position: center;
  transition: all ease 0.6s;
}
#card1 {
  background-image: url(https://images.pexels.com/photos/6295749/pexels-photo-6295749.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
#card2 {
  background-image: url("https://images.pexels.com/photos/5424766/pexels-photo-5424766.jpeg");
}
#card3 {
  background-image: url(https://images.pexels.com/photos/9944640/pexels-photo-9944640.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.overlay{
  height: 100%;
  width: 100%;

  background-color:#2B2A2A ;
 
 opacity: 0.8;
  padding: 40px;
  padding-top:128px;
  
 

}
.overlay h4{
  color: #fff;

font-size: 25px;
text-transform: uppercase;
white-space: nowrap;
margin-bottom: 18px;

font-weight: 800;

}
.overlay p{
  color: #cec5c5;
  font-size: 15px;
}

.card:hover .overlay {
  opacity: 1;

}
.card:hover {
  transform: rotate3d(-1, 1, 0, 20deg);
}
#grey{
  margin-top: 40px;
  height: 28vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2B2A2A;
}
#grey h4{
  width: 45%;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  font-weight: 800;
}
#grey img{
  height: 100%;
  object-fit: cover;
  width: 13%;

}
#page3{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#page3>p{
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
  width: 60%;
  text-align: center;
}

#page3 img{
  position: absolute;
  height: 60px;
}
#page3 #colon1{
  left: 15%;
  top: 29%;
}
#page3 #colon2{
  bottom: 30%;
  right: 30%;
}

